<div class="w-75 m-auto">
  <h1 class="text-center">Impostazioni per il Bot <em>{{bot._nome}}</em></h1>
  <p class="text-center">{{bot._descrizione}}</p>
  <p>{{botDescription}}</p>
  <form [formGroup]="myForm">
    <div *ngIf="myForm">
      <app-form-input *ngFor="let domanda of bot.caratteristiche" [domanda]="domanda" [form]="myForm"></app-form-input>
    </div>
    <button class="btn btn-success mt-3 w-25 float-right"
            (click)="salvaEAggiornaConfigurazioneEVaiAllaHomeDelBot(bot)" [disabled]="isFormInvalidCalculator()">
      Salva & Aggiorna
    </button>
    <button class="btn btn-primary mt-3 w-25 float-right mr-3" [disabled]="isFormInvalidCalculator()"
            (click)="salvaEVaiAllaHomeDelBot(bot)">Salva
    </button>
  </form>
</div>
